@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --swiper-scrollbar-bottom: -40px;
    --swiper-scrollbar-size: 8px;
    --swiper-pagination-left: 56px;
    --swiper-pagination-bullet-horizontal-gap: 0;
    --swiper-scrollbar-drag-bg-color: #2e67de;
    --swiper-pagination-bullet-inactive-color: #2e67de;
  }

  html,
  body {
    @apply relative h-full;
  }
}

@layer components {
  .btn {
    @apply flex w-max leading-[22px] font-bold px-6 py-4 text-white rounded-25 border-2 transition-colors duration-300;
  }

  .btn.btn-gradient {
    @apply bg-gradient-to-r from-blue-100 to-purple-500;
  }

  .btn.btn-primary {
    @apply bg-blue-100 border-blue-50;
  }

  .input {
    @apply rounded-25 placeholder:text-sm placeholder:font-medium text-black;
  }

  .input.input-medium {
    @apply h-14 py-5 pl-12 pr-6;
  }
}
